openapi: 3.2.0
info:
  title: Pathalys Pharma Content API (WordPress REST API) … Comments…
  version: wp/v2
  description: Anonymously readable content API for pathalys.com, derived from the WordPress REST route index the site publishes at https://pathalys.com/wp-json/.
  contact:
    name: Pathalys Pharma, Inc.
    url: https://pathalys.com/contact/
  x-derived-from: https://pathalys.com/wp-json/
  x-derived-on: '2026-08-26'
  x-api-evangelist-note: Derived by the API Evangelist enrichment pipeline from the provider-published WordPress REST route index; not authored or endorsed by Pathalys Pharma, Inc.
servers:
- url: https://pathalys.com/wp-json
  description: Production
security:
- {}
tags:
- name: Comments
  description: Comments on posts (collection is empty on this site)
paths:
  /wp/v2/comments:
    get:
      operationId: listComments
      tags:
      - Comments
      summary: List comments
      description: 'Lists approved comments. Registered and anonymously readable on pathalys.com, but the collection is empty (X-WP-Total: 0) — the corporate site does not run comments.'
      security:
      - {}
      parameters:
      - $ref: '#/components/parameters/context'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/exclude'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/fields'
      - name: post
        in: query
        description: Limit result set to comments assigned to specific post IDs.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: A page of comments (empty on this site).
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages in the collection.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '400':
          description: One or more query parameters failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: rest_invalid_param
                message: One or more query parameters failed validation.
                data:
                  status: 400
  /wp/v2/comments/{id}:
    get:
      operationId: getComment
      tags:
      - Comments
      summary: Retrieve a single comment
      description: Retrieves one comment by ID.
      security:
      - {}
      parameters:
      - $ref: '#/components/parameters/id_path'
      - $ref: '#/components/parameters/context'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: The comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '404':
          description: Invalid comment ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: rest_comment_invalid_id
                message: Invalid comment ID.
                data:
                  status: 404
components:
  parameters:
    after:
      name: after
      in: query
      description: Limit response to posts published after a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
    context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response. Only `view` and `embed` are available anonymously.
      schema:
        type: string
        default: view
        enum:
        - view
        - embed
    search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        default: desc
        enum:
        - asc
        - desc
    page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        default: 1
        minimum: 1
    id_path:
      name: id
      in: path
      required: true
      description: Unique identifier for the resource.
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    fields:
      name: _fields
      in: query
      description: Sparse fieldset — comma-separated list of fields to return.
      schema:
        type: string
      example: id,slug,title,link,date
    per_page:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (WP_Error serialization). Not RFC 9457 problem+json; the HTTP status is repeated inside `data.status`.
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: rest_post_invalid_id
        message:
          type: string
          description: Human-readable error message.
          example: Invalid post ID.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
              example: 404
      required:
      - code
      - message
    Comment:
      type: object
      description: A comment on a post. The collection is empty on pathalys.com.
      properties:
        id:
          type: integer
        post:
          type: integer
          description: The ID of the associated post object.
        parent:
          type: integer
        author_name:
          type: string
        date:
          type: string
          format: date-time
        content:
          type: object
          description: A WordPress rendered-content object.
          properties:
            rendered:
              type: string
              description: HTML for the object, transformed for display.
            protected:
              type: boolean
              description: Whether the content is password protected.
        link:
          type: string
          format: uri
        status:
          type: string
        type:
          type: string
          example: comment
